# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Virtual envs
.venv/
venv/
env/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Alembic cache
.mypy_cache/
.ruff_cache/
